body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(17, 17, 17);
  background-color: rgb(12, 12, 12);
  font-family: Arial, sans-serif;
  font-weight: 100;
}

#title_container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Audiowide", sans-serif;
  font-size: min(7vw, 100px);

  color: black;

  text-shadow:
    6px 6px blue,
    -6px -6px red;

  animation: opening_animation 2s ease;
  margin: 80px 0 40px 0;
}

#title_container:hover {
  color: greenyellow;
}

@keyframes opening_animation {
  0% {
    text-shadow:
      6px 6px red,
      -6px -6px blue;
    color: black;
  }

  25% {
    text-shadow:
      6px 6px orange,
      -6px -6px cyan;
    color: rgb(81, 0, 0);
  }

  50% {
    text-shadow:
      6px 6px yellow,
      -6px -6px rgb(0, 255, 0);
    color: rgb(0, 0, 113);
  }

  75% {
    text-shadow:
      6px 6px rgb(0, 255, 234),
      -6px -6px yellow;
    color: rgb(0, 60, 0);
  }

  100% {
    text-shadow:
      6px 6px blue,
      -6px -6px red;
    color: black;
  }
}

#subtitle_text {
  font-size: 40px;
  font-family: "Tiktok Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
  animation: search_color 3s infinite linear;
}

#searchBox {
  background-color: rgb(61, 61, 61);
  width: max-content;
  margin: 0 auto 40px auto;
  padding: 5px;
  border-radius: 5px;
}

#search {
  text-align: center;
  width: 30vw;
  min-width: 200px;
  height: 35px;

  font-family: "Tiktok Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;

  border: none;
  outline: none;
  background: transparent;

  animation: search_color 3s infinite linear;
}

#searchexecuter {
  font-size: 20px;
  border: none;
  background: transparent;
  color: white;
  text-shadow:
    1px 1px red,
    -1px -1px blue;
  cursor: pointer;
}

@keyframes search_color {
  0% { color: red; }
  33% { color: blue; }
  66% { color: rgb(0, 255, 34); }
  100% { color: red; }
}

#settings {
  display: grid;
  justify-items: end;

  font-size: 30px;

  border-radius: 10px;
  border: none;
  background: transparent;

  color: white;

  cursor: pointer;
}

#settings:hover {
  background-color: rgb(23, 23, 23);
}

#settingsMenu {
  z-index: 1000;

  width: clamp(200px, 15vw, 400px);
  max-height: 80vh;

  overflow-y: auto;

  padding: 10px;

  color: white;
  background-color: rgb(37, 37, 37);

  border-radius: 10px;

  position: absolute;
  top: 50px;
  left: 5px;

  font-family: "Tiktok Sans", sans-serif;

  display: none;
}

.bar {
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background-color: rgb(104, 104, 104);
}

.configs {
  display: grid;
  place-items: center;

  margin: 6px auto;

  width: fit-content;
  height: fit-content;

  font-family: "Audiowide", sans-serif;
}

button {
  cursor: pointer;
}
